name: Deploy to Staging

on: workflow_dispatch

jobs:
  push-to-staging:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Github"
        uses: actions/checkout@v2

      - name: Build, Push and Deploy to Heroku
        id: heroku
        uses: jctaveras/heroku-deploy@v2.1.1
        with:
          email: ${{ secrets.HEROKU_EMAIL }}
          api_key: ${{ secrets.HEROKU_API_KEY }}
          app_name: ${{ secrets.HEROKU_APP_NAME }}
          dockerfile_path: ""
